<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "FCV_1990-2010_bn.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>
          I am Ferran Cabrer i Vilagut, I am 58 years old (Birth date: 1958-03-30). I am married and I have a child of 27th. I am Industrial and Agriculture Engineer. I am Catalan, thinking in and speaking Catalan. I born and living in Barcelona. My experience is wide and long, mainly in Information Society Technologies and in Open-solutions for collaborative working spaces. I founded CONSEN Euro-Group EEIG a non-profit European Grouping for sharing resources and competences in an alliance of professionals and micro-companies for presenting and carrying out European research and innovation projects in the field of Open Info-Spaces technologies. I work for the European Commission in Research projects. Presently, I work at the Research Executive Agency (REA) of the European Commission (EC)  as Expert Evaluator of Research and Technological Development projects. 
        </p>

        <p>
          Ferran Cabrer i Vilagut is a senior entrepreneur, expert in Information
          and Communication technological development and innovation.
          He has qualified competences in front-end design, web development
          and server administration, moreover, in Drupal 'theming' layout design, content
          architecture and user interaction, and proven skills in building and manage
          international consortia/communities of research and innovation, and in the
          conceptualisation and application of European research projects (more than forty proposal and ten projects).
        </p>
        <p>
          Since 2004 in the first versions of Drupal 4, he has contributed to the development and
          testing of modules of this CMS. This expertise has been applied to develop and manage more than 50 project, professional and personal websites in their own dedicated/virtual servers. At the dawn of the Internet he has been a pioneer in their use for business, so he was teaching to informatics recently graduated in 1999.
          In the last months, he has been enrolled in courses online (MOOC) of administration of
          information systems servers and programming, Internet, web and mobile applications development, Innovation and Entrepreneurship technology, Lynux/Ubuntu, Ruby on Rails, Cyber-Security and Networking. Currently, As Full Stack Web Developer 'junior' I am an available Freelancer looking for works. 
        </p>

  

      </div>


      <%= image_tag 'FCV_CV_2017.png', alt: 'Ferran Cabrer i Vilagut resume' %>

    </div>
  </div>
</div>
